<style>

    @@import "https://unpkg.com/open-props" layer(design.system);
    @@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);
    @@import "https://unpkg.com/open-props/theme.light.switch.min.css" layer(demo.theme);
    @@import "https://unpkg.com/open-props/theme.dark.switch.min.css" layer(demo.theme);

@@layer demo {
        .taglist{
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: var(--size-2);
    max-inline-size: var(--size-content-2);
    
    > legend {
      height:0;
      width:0;
      overflow:clip;
    }
    
    > div {
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      
      > * {
        grid-area: 1/1;
      }
      
      > label {
        padding-inline: var(--size-3);
        padding-block: var(--size-1);
        background: white;
        border-radius: var(--radius-2);
        cursor: pointer;
      
        .dark & {
          background: var(--surface-2);
        }
      }
      
      > input {
        appearance: none;
        background: none;
        border: none;
        inline-size: 100%;
        block-size: 100%;
      
        &:checked ~ label {
          background-color: var(--link);
          color: var(--surface-1);
        }
      
        &:not(:checked):is(:focus-within, :hover) ~ label {
          color: var(--link);
        }
      }
    }
  }
}

@@layer demo.support {
  
  .dark, .light {
    color: var(--text-1);
    background: var(--surface-1);
    gap: var(--size-5);
    padding-inline: var(--size-2);
    padding-block: var(--size-5);
    
    > div {
      display: grid;
      gap: 1ch;
      
      > p {
        font-weight: var(--font-weight-6);
      }
    }
  }
  
  .light {
    background: var(--surface-3);
  }
}

    #accordion .accordion-content {
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    #store-accordion .accordion-content {
        display: none;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }



</style>

<div class="card-body">
    <div class="row justify-content-center">
        <div class="col-12 my-4">
            <div class="dark">
                <div class="firstSection">
                    <h4>Let's get you all set up</h4>

                    <fieldset class="taglist">
                        <p>Do you already have an account with a print on demand provider?</p>
                        <div>
                            <input type="radio" name="provider-account" value="yes" id="has-account">
                            <label for="has-account">Yes</label>
                        </div>
                        <div>
                            <input type="radio" name="provider-account" value="no" id="no-account">
                            <label for="no-account">No</label>
                        </div>
                        <div>
                            <input type="radio" name="provider-account" value="not-sure" id="not-sure">
                            <label for="not-sure">I am not sure</label>
                        </div>
                    </fieldset>

                    <div id="accordion">
                        <div class="accordion-content" id="content-no" style="margin-left:10px">
                            <p>&nbsp;</p>
                            <p> <i class="fa fa-arrow-right"></i> A POD service is required to use AutoProduct</p>
                            <p> <i class="fa fa-arrow-right"></i> This will only take a few minutes to setup</p>
                            <p> <i class="fa fa-arrow-right"></i> Create a FREE Printify Account <a target="_blank" href="https://www.printify.com">here</a> and then return to this page and select Yes</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="accordion-content" id="content-yes">
                            <p style="color:lawngreen"><i class="fa fa-check"></i> Great! Let's move on!</p>
                        </div>
                    </div>

                    <fieldset class="taglist">
                        <p>Do you already have an online store or account you want to generate product for?</p>
                        <div>
                            <input type="radio" name="online-store" value="yes" id="online-store-yes">
                            <label for="online-store-yes">Yes</label>
                        </div>
                        <div>
                            <input type="radio" name="online-store" value="no" id="online-store-no">
                            <label for="online-store-no">No</label>
                        </div>
                        <div>
                            <input type="radio" name="online-store" value="not-sure" id="online-store-not-sure">
                            <label for="online-store-not-sure">I am not sure</label>
                        </div>
                    </fieldset>

                    <div id="store-accordion">
                        <div class="accordion-content" id="store-content-no">
                            <p>&nbsp;</p>
                            <p> <i class="fa fa-arrow-right"></i> A STORE service is required to use AutoProduct</p>
                            <p> <i class="fa fa-arrow-right"></i> You may click "Yes" and skip this step for now</p>
                            <p> <i class="fa fa-arrow-right"></i> This will only take a few minutes to setup</p>
                            <p> <i class="fa fa-arrow-right"></i> Create a FREE Etsy Account <a target="_blank" href="https://www.etsy.com">here</a> and then return to this page and select Yes</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="accordion-content" id="store-content-yes">
                            <p style="color:lawngreen"><i class="fa fa-check"></i> Great! Let's move on!</p>
                        </div>
                    </div>

                    <!-- Add the button but keep it hidden initially -->
                    <button id="continue-button" class="btn btn-success" type="button" style="display:none; margin-top:20px;">Continue</button>

                    <!-- This is the final setup content, initially hidden -->
                    
                </div>
                <div id="final-setup" style="display:none;">
                    <h3>We are almost done!</h3>
                    <p style="margin-top:-5px">1. Log into your POD provider and click on Account > Connections</p>
                    <p style="margin-top:-15px">2. Create a API Key and copy</p>
                    <p style="margin-top:-15px">3. Ask Printify Support for your store id</p>
                    <hr />

                    <form>

                        <p>POD API Key</p>
                        <div class="group col-12">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>
                        <p>&nbsp;</p>
                        <p>Store ID</p>
                        <div class="group col-12">
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>

                        <hr />

                        <a href="@Url.Action("Index", "Products")" class="btn btn-success" style="margin:5px">Let's Rock!</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type=radio][name=provider-account]').change(function () {
            if (this.value == 'no' || this.value == 'not-sure') {
                $('#content-no').slideDown();
                $('#content-yes').slideUp();
            } else if (this.value == 'yes') {
                $('#content-yes').slideDown();
                $('#content-no').slideUp();
            }
        });

        $('input[type=radio][name=online-store]').change(function () {
            if (this.value == 'no' || this.value == 'not-sure') {
                $('#store-content-no').slideDown();
                $('#store-content-yes').slideUp();
            } else if (this.value == 'yes') {
                $('#store-content-yes').slideDown();
                $('#store-content-no').slideUp();
            }
        });

        function checkStatus() {
            var providerYesSelected = $('input[name="provider-account"]:checked').val() === 'yes';
            var onlineStoreYesSelected = $('input[name="online-store"]:checked').val() === 'yes';
            // Show the continue button if both yes options are selected
            if (providerYesSelected && onlineStoreYesSelected) {
                $('#continue-button').show();
            } else {
                $('#continue-button').hide();
            }
        }

        // Event listeners for the radio buttons
        $('input[type=radio][name=provider-account], input[type=radio][name=online-store]').change(function () {
            // Existing code to slide up/down the accordion content
            // ...

            // Check status whenever any radio button changes
            checkStatus();
        });

        // Continue button click event
        $('#continue-button').click(function () {
            // Hide all the previous contents
            $('.firstSection').hide();

            // Show the final setup steps
            $('#final-setup').show();
        });

        // Initially hide the continue button and final setup content
        $('#continue-button').hide();
        $('#final-setup').hide();

    });

</script>